# list

In [1]:
lst = ["kishan", 20, 54, 99, 25, "apple"]

In [2]:
lst

['kishan', 20, 54, 99, 25, 'apple']

In [4]:
lst[1]

20

In [5]:
lst[1:5]

[20, 54, 99, 25]

In [6]:
lst[1]= "Patel"
lst

['kishan', 'Patel', 54, 99, 25, 'apple']

In [7]:
len(lst)

6

In [8]:
lst.append("orange")
lst

['kishan', 'Patel', 54, 99, 25, 'apple', 'orange']

In [9]:
lst.remove("apple")
lst

['kishan', 'Patel', 54, 99, 25, 'orange']

In [10]:
lst.pop()
lst

['kishan', 'Patel', 54, 99, 25]

In [11]:
lst2 = [20,58,36]
lst2

[20, 58, 36]

In [12]:
lst.extend(lst2)

In [13]:
lst

['kishan', 'Patel', 54, 99, 25, 20, 58, 36]

In [14]:
lst.clear()

In [15]:
lst

[]

# Dict

In [29]:
dict = {
  "name": "Kishan",
  "age": 20,
  "email":"kpkishanpatel222@gail.com" 
}

In [30]:
dict

{'name': 'Kishan', 'age': 20, 'email': 'kpkishanpatel222@gail.com'}

In [31]:
dict["name"]

'Kishan'

In [32]:
dict["age"]=19

In [33]:
dict

{'name': 'Kishan', 'age': 19, 'email': 'kpkishanpatel222@gail.com'}

In [34]:
len(dict)

3

In [35]:
dict["surname"] = "Patel"

In [36]:
dict

{'name': 'Kishan',
 'age': 19,
 'email': 'kpkishanpatel222@gail.com',
 'surname': 'Patel'}

In [37]:
dict.pop("surname")
dict

{'name': 'Kishan', 'age': 19, 'email': 'kpkishanpatel222@gail.com'}

In [38]:
dict.popitem()

('email', 'kpkishanpatel222@gail.com')

In [39]:
dict.clear()

In [40]:
dict

{}

# SET

In [41]:
set = {"apple", "banana", "cherry"}

In [42]:
set

{'apple', 'banana', 'cherry'}

In [43]:
"banana" in set

True

In [44]:
set.add("orange")

In [45]:
set

{'apple', 'banana', 'cherry', 'orange'}

In [46]:
set.update(["orange", "mango", "grapes"])

In [47]:
set

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [48]:
len(set)

6

In [49]:
type(set)

set

In [50]:
set.remove("banana")

In [51]:
set

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [52]:
set.discard("apple")

In [53]:
set

{'cherry', 'grapes', 'mango', 'orange'}

In [54]:
set.pop()

'orange'

In [55]:
set

{'cherry', 'grapes', 'mango'}

In [56]:
set.clear()

In [57]:
set

set()

# TUPLE

In [61]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [62]:
tuple

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [63]:
tuple[1]

'banana'

In [64]:
tuple[2:5]

('cherry', 'orange', 'kiwi')

In [70]:
type(tuple)

tuple

In [84]:
tuple2 =  (1, 2, 3,)

In [85]:
tuple + tuple2

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3)

In [86]:
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [87]:
tuple.count(5)

2

In [88]:
tuple.index(8)

3


# STRING

In [106]:
a = "hello, I Kishan Patel from Ahmedabad"

In [107]:
a

'hello, I Kishan Patel from Ahmedabad'

In [108]:
len(a)

36

In [109]:
a[2:10]

'llo, I K'

In [110]:
a.strip()

'hello, I Kishan Patel from Ahmedabad'

In [111]:
a.lower()

'hello, i kishan patel from ahmedabad'

In [112]:
a.upper()

'HELLO, I KISHAN PATEL FROM AHMEDABAD'

In [113]:
a.split(",")

['hello', ' I Kishan Patel from Ahmedabad']

In [114]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [115]:
a.center(20)

'hello, I Kishan Patel from Ahmedabad'

In [116]:
a.encode()

b'hello, I Kishan Patel from Ahmedabad'

In [117]:
a.find("Ahmedabad")

27

In [120]:
a.split()

['hello,', 'I', 'Kishan', 'Patel', 'from', 'Ahmedabad']